@tailwind base;
@tailwind components;
@tailwind utilities;

* RESET */ *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

input {
  border: initial;
  outline: initial; /* create alternative for focus state */
  font: inherit;
}
